{% extends "web_tracker/base.html" %}
{% load bootstrap3 %}
{% block header %}
{% endblock header %}

{% block content %}

<div class="container">
    <div class="sub-div">
        <div class="panel">
            <h2 class="h2 mb-3 font-weight-normal text-center">Log in to your
                account</h2>
            <p class="h3 mb-3 font-weight-normal text-center">Please enter your
                nickname and password</p>
        </div>
        <form id="Login" method="post" action="{% url 'web_tracker:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" name="username" autofocus=""
                       id="id_username" required="" type="text"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" autofocus=""
                       id="id_password" required="" type="password"
                       placeholder="Password">
            </div>

            <button type="submit"
                    class="btn btn-lg btn-primary btn-block text-center">
                Login
            </button>
            <input class="form-control" type="hidden" name="next"
                   value="{% url 'web_tracker:index' %}"/>

        </form>
        <h5 class="h5 mb-3 font-weight-normal text-center">
            Don't have an account?
            <a href="/users/register">
                <u>Register</u>
            </a>
        </h5>
    </div>
</div>


{% endblock content %}