{% extends "web_tracker/base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="form-div">
    <div class="container">
        <h2> Edit task:</h2>
        <form action="{% url 'web_tracker:edit_task' task.key %}" method="post">
            {% csrf_token %}
           {% for field in form %}
            <p>
                {{ field.label_tag }} {{ field }}

                {% for error in field.errors %}

            <div class="alert alert-danger alert-dismissable alert-link">
                <button class="close" type="button" data-dismiss="alert"
                        aria-hidden="true">×
                </button>
                {{error}}
            </div>
            {% endfor %}
            </p>
            <p>

                {% endfor %}
            <button name="submit" class="btn btn-success btn-lg">Save changes
            </button>
            <a href="{% url 'web_tracker:show_task' task.key %}">
                <button name="cancel"
                        class="btn btn-warning btn-lg float-right">Cancel
                </button>
            </a>
        </form>
    </div>
</div>

{% endblock content %}