{% extends "web_tracker/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="form-div">
    <h2> Edit queue:</h2>
    <form action="{% url 'web_tracker:edit_plan' plan.key  %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable alert-link">
            <button class="close" type="button" data-dismiss="alert"
                    aria-hidden="true">×
            </button>
            {{error}}
        </div>
        {% endfor %}
        </p>
        {% endfor %}

        {% buttons %}
        <button class="btn btn-success btn-lg" name="submit">Save</button>
        <a href="/" class="float-right">
            <button class="btn btn-warning btn-lg" name="cancel">Cancel</button>
        </a>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}