{% extends "web_tracker/base.html" %}
{% block header %}{% endblock header %}
{% block content %}
<div class="index-div">
    <h1 class="display-3 text-center">Calistra</h1>
    <p class="lead" align="justify">
        Calistra is a program that combines the capabilities of applications
        for
        maintaining to-do lists and task trackers. Allows you to easily and
        quickly
        organize your time without worrying about the possibility to forget
        to do
        something necessary. With this application, the user does not have
        to
        remember all the many routine cases, and to provide this task to the
        program, which in a convenient form organizes and optimizes your
        schedule.
        The program will allow you to get rid of many calendars and
        planners,
        thereby collecting all the necessary functions in one application.
    </p>
    <p><a class="btn btn-primary btn-lg" href="/users/register"
          role="button">Register account</a></p>
</div>
<div class="index-div">
    <h1>
        Have an account?
        <a href="users/login">
            <u>Log in</u>
        </a>
    </h1>
</div>

{% endblock content %}