{% extends 'web_tracker/base.html' %}

{% block content %}
<div class="form-div">

    <h1>{{queue.name}}</h1>
    <p>Key: {{queue.key}}</p>
    <div class="widget-div">
        {% if queue.name != 'DEFAULT' %}
        <a href="{% url 'web_tracker:edit_queue' queue.key %}">
            <button class="btn btn-outline-success btn-sm">Edit queue</button>
        </a>

        {% if opened_tasks or solved_tasks or failed_tasks %}
        <button class="btn btn-outline-danger btn-sm"
                data-target="#confirm_deletion" data-toggle="modal">Delete queue
        </button>
        {% else %}
        <a href="{% url 'web_tracker:delete_queue' queue.key %}">
            <button class="btn btn-outline-danger btn-sm">Delete queue
            </button>
        </a>
        {% endif %}


        {% else %}
        {% endif %}


    </div>
    <div class="link">
        <div class="widget-div">
            <div class="widget-div widget-div-color_6 widget-div-type_2">
                <div>
                    <h2>
                        Opened tasks
                        {% if opened_tasks_count %}
                        <span class=""><i>{{opened_tasks_count}}</i></span>
                        {% endif %}
                        <button title="Hide" data-toggle="collapse"
                                data-target="#opened_table"
                                aria-expanded="false"
                                class="btn btn-info float-right"
                                onclick='imgsrc("image1")'>

                            <img id="image1" src="/static/img/hide.png">
                        </button>
                    </h2>
                </div>
                <div id="opened_table"
                     class="table-responsive collapse show">
                    <table class="table table-striped table-sm">
                        {% if opened_tasks %}
                        <thead>
                        <tr>
                            <th>
                                <div>Task</div>
                            </th>
                            <th>
                                <div>
                                    <a>Status</a>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <a>Updated</a>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <a>Deadline</a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in opened_tasks %}
                        <tr>
                            <td>
                                <a href="{% url 'web_tracker:show_task' task.key %}">{{task.name}}</a>
                            </td>
                            <td>
                                <a>{{task.status}}</a>
                            </td>
                            <td>
                                <a>{{task.editing_time}}</a>
                            </td>
                            <td>
                                <a>{{task.deadline}}</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <p>There is no tasks!</p>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget-div widget-div-color_2 widget-div-type_2">
                <div>
                    <h2>
                        Solved tasks
                        {% if solved_tasks_count %}
                        <span class=""><i>{{solved_tasks_count}}</i></span>
                        {% endif %}
                        <button title="Hide" data-toggle="collapse"
                                data-target="#solved_table"
                                aria-expanded="false"
                                class="btn btn-info float-right"
                                onclick='imgsrc("image0")'>

                            <img id="image0" src="/static/img/hide.png">
                        </button>
                    </h2>
                </div>
                <div id="solved_table"
                     class="table-responsive collapse show">
                    <table class="table table-striped table-sm">
                        {% if solved_tasks %}
                        <thead>
                        <tr>
                            <th>
                                <div>Task</div>
                            </th>
                            <th>
                                <div>
                                    <a>Status</a>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <a>Updated</a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in solved_tasks %}
                        <tr>
                            <td>
                                <a href="{% url 'web_tracker:show_task' task.key %}">{{task.name}}</a>
                            </td>
                            <td>
                                <a>{{task.status}}</a>
                            </td>
                            <td>
                                <a>{{task.editing_time}}</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <p>There is no tasks!</p>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget-div widget-div-color_1 widget-div-type_2">

                <div>
                    <h2>
                        Failed tasks
                        {% if failed_tasks_count %}
                        <span class=""><i>{{failed_tasks_count}}</i></span>
                        {% endif %}
                        <button title="Hide" data-toggle="collapse"
                                data-target="#author_table"
                                aria-expanded="false"
                                class="btn btn-info float-right"
                                onclick='imgsrc("image")'>

                            <img id="image" src="/static/img/hide.png">
                        </button>
                    </h2>
                </div>
                <div id="author_table"
                     class="table-responsive collapse show">
                    <table class="table table-striped table-sm">
                        {% if failed_tasks %}
                        <thead>
                        <tr>
                            <th>
                                <div>Task</div>
                            </th>
                            <th>
                                <div>
                                    <a>Status</a>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <a>Updated</a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in failed_tasks %}
                        <tr>
                            <td>
                                <a href="{% url 'web_tracker:show_task' task.key %}">{{task.name}}</a>
                            </td>
                            <td>
                                <a>{{task.status}}</a>
                            </td>
                            <td>
                                <a>{{task.editing_time}}</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <p>There is no tasks!</p>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm_deletion">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Warning
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                </div>
                <div class="modal-body">
                    Queue has tasks! Do you want to remove the queue with tasks?
                    This action is irreversible!
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#success_deleted">
                        Yes
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">No
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="success_deleted">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Success
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                </div>
                <div class="modal-body">
                    Queue "{{queue.name}}" was deleted
                </div>

                <div class="modal-footer">
                    <a href="{% url 'web_tracker:delete_queue' queue.key %}">
                        <button type="button" class="btn btn-danger"
                        >OK
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}